html {
    /* -webkit-font-smoothing: antialiased; */
    /* box-sizing: border-box; */
}

body {
    background-color: #000000;
}

.calc {
    display: block;
    margin: 0 auto;
    padding: 0px;
    background-color: black;
    width: 252px;
    /* height: 500px; */
}

.calc-display {
    background-color: black;
    height: 90px;
    color: white;
    text-align: right;
    line-height: 130px;
    margin: 0px;
}

.content {
    /* background-color: transparent; */
    margin: 10px;
    font-size: 35px;
}

/* BOTONES */

/* .calc-buttons .primer-bloque button {
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 0px;
}

.calc-buttons .segundo-bloque button {
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 0px;
}

.calc-buttons .tercer-bloque button {
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 0px;
}

.calc-buttons .cuarto-bloque button {
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 0px;
}

.calc-buttons .quinto-bloque button {
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    padding: 0px;
} */

.calc-buttons button {
    display: flexbox;
    flex-wrap: wrap;
    margin: 0px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    /* font-weight: 100; */
    /* padding: 0px; */
    /* background: rgb(209, 209, 209); */
    /* border: 0.005vw solid rgb(158, 158, 158); */
    /* border: 0.000001vw solid gray; */
    /* border: 0.01px 0.01px solid gray; */
     border:0.01px solid black;
    /*border: 0vw 0vh; */
    /* -webkit-tap-highlight-color: rgba(155, 58, 58, 0); */
    /* font-size: 3vw; */
    /* transition: opacity .6s; */
    /* flex-basis: 25%; */
}

/* BOTONES DERECHOS EN NARANJA */

#divide-button {
    background: orange;
    color: white;
}

#multiply-button {
    background: orange;
    color: white;
}

#subtract-button {
    background: orange;
    color: white;
}

#add-button {
    background: orange;
    color: white;
}

#equals-button {
    background: orange;
    color: white;
}

.calc-buttons-operation {
    background: orange;
    color: white;
}

#zero-button {
    /* background: orange; */
    width: 124px;
}

/* EFECTO DE DESPLAZAMIENTO DEL BOTÓN */

button:hover {
    opacity: 0.8;
}

/* EFECTO CLICK AL PULSAR UN BOTÓN */

#audio {
    display: none;
}